*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    object-fit: contain;
}
body{
    background-color: #202020;
    padding: 0px 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navcontain{
    width: 100%;
    padding: 10px 0 30px 0;
    border-bottom: 2px solid #ffffff;
}

.navcontain .logo{
    margin-left: 20px;
    padding: 15px 10px 10px 0;
    font-size: 18px;
    color: #ffffff;
}

.navcontain .list{
    padding: 10px 10px 10px 0px;
    float: right;
}

.navcontain .list li{
    width: 120px;
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 8px;
}
.navcontain .list a{
    text-decoration: none;
    color: #ffffff;
}
.navcontain .list li:hover{
    border-bottom: 2px solid #ff007f;
    cursor: pointer;
}

.navcontain .humberg{
    padding: 10px 0 10px 10px;
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: none;
}


.bannerArea{
    width: 100%;
    padding: 50px 0 30px 0;
}
.bannerArea .title{
    text-align: center;
    color: #ffffff;
}
.bannerArea .title h1{
    margin-bottom: 20px;
}
.bannerArea .title p{
    margin-bottom: 20px;
}

.bannerArea .tiles{
    width: 100%;
    padding: 30px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bannerArea .tiles .box1{
    padding: 10px;
    border: 2px solid #6666ff;
    margin: 10px;
}
.bannerArea .tiles .box1 .icons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bannerArea .tiles .box1 .icons .img{
    width: 80px;
    height: 80px;
    background-color: #6666ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerArea .tiles .box1 .icons .img i{
    font-size: 30px;
    color: #ffffff;
}

.bannerArea .tiles .head{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}
.bannerArea .tiles .descript{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    
}
.bannerArea .tiles .descript p{
    line-height: 30px;
}


/*----------------------------------------------------------------------------*/


@media only screen and (max-width: 999px){

    .navcontain{
        width: 100%;
        padding: 10px 0 30px 0;
        border-bottom: 2px solid #ffffff;
    }
    
    .navcontain .logo{
        margin-left: 8px;
    }

    .navcontain .list{
        width: 100%;
        padding: 10px 10px 10px 0px;
        position: relative;
        left: 0;
        top: 33px;
        z-index: 2;
        display: none;
    }
    .navcontain .list li{
        text-align: right;
        width: 100%;
        padding: 15px;
        display: block;
    }

    .navcontain .humberg{
        padding: 15px 10px 10px 10px;
        float: right;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        display: block;
    }
    
}


@media only screen and (max-width: 768px){
    .bannerArea .tiles{
        width: 100%;
        padding: 30px 0 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/*------------------------------------------*/


@media only screen and (max-width: 500px){
    .bannerArea .tiles{
        width: 100%;
        padding: 30px 0 10px 0;
        display: grid;
        grid-template-columns: 1fr;
    }
}

